.logo {
    text-align: center;
    font-size: 50px;
}

.myButton {
    height: 100px;
    padding: 0;
    transition: all .2s ease-in-out;
    &:hover {
       border-width: medium;
       border-style: double;
    }
}

.myTable {
    height: auto;
    margin-bottom: 10px;
}

.pokemon-name {
  font-size: 20px;
  text-transform: capitalize;
}

.abbility {
    display: inline-flex;
    width: auto;
    height: auto;

    .inline-block {
      margin-right: 4px;
      padding: 0 5px;
      border-radius: 3px;
      text-transform: capitalize;
    }    

    #poison {
      background-color: chartreuse;
    }

    #grass {
      background-color: forestgreen;
    }

    #fire {
      background-color: crimson;
    }

    #flying {
      background-color: rgb(171, 248, 248);
    }

    #water {
      background-color: rgb(59, 59, 194);
    }

    #bug {
      background-color: burlywood;
    }

    #normal {
      background-color: gray;
    }

    #electric {
      background-color: yellow;
    }

    #fairy {
      background-color: deeppink;
    }

    #ground {
      background-color: peru;
    }

    #fighting {
      background-color: rgb(148, 100, 237);
    }

    #psychic {
      background-color: mediumaquamarine;
    }

    #steel {
      background-color: slategray;
    }

    #rock {
      background-color: peachpuff;
    }

    #ice {
      background-color: dodgerblue;
    }

    #ghost {
      background-color: lightgray;
    }
}

.my-button {
  width: 80%;
  text-transform: none;
  font-size: 30px;
  border-radius: 6px;
  background-color: rgb(8, 139, 247);
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  
}

.searchField {
  width: 80% !important;
}

.selected-tabale {
  border-width: thin;
  width: 200px;
  border-style: double;
  margin-bottom: 20px;
  
 
  td {
    text-align: center;
    padding: 0;
    border: medium;
    width: fit-content;
    border-right: double;
  }
  
}

.selectedOne {
  margin-left: 30px;
  font-weight: bold;
}

.selectedImg {
  margin-left: 50px;
}

.detailSection {
  margin-top: 120px;
}
