<h1 class="logo">Pokedex</h1>

<div class="row">
  <div class="col s12 m8 l8" >
    <div class="col s12 m6 l4 myTable" *ngFor="let pokemon of data">
      <a class="waves-effect waves-teal btn-flat myButton">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" alt="">
      </a>
        <div class="pokemon-name">{{pokemon.name}}</div>
        <div class="abbility">
          <div class="inline-block" id="{{type.type.name }}" *ngFor="let type of pokemon.types"> {{type.type.name }}</div>
        </div>
      
      <p></p>
    </div>
  </div>
  <div class="col s12 m4 l4"><p>s12 m4</p></div>
</div>